# Ignore node_modules directory
node_modules/
cypress/screenshots/
cypress.env.json
cypress/videos

# Ignore environment variables
.env

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore system files
.DS_Store
Thumbs.db
